@{
    ViewBag.Title = "O stronie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Autor: Kamil Żuk</p>

<form id="form1">
    <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" style="display:none;"/>
</form>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
            $("#blah").show();
        }
    }
</script>